{% extends 'front.base.html.twig' %}

{% block content %}
    <div class="ars__page">
        <div class="row">
            <div class="ars__title">
                <h2> Qui sommes-nous ? </h2>
            </div>
            <div class="ars__content">
                <p>Anime Reviewers Society est un petit projet sympa parti à la base d'un projet scolaire (on vous
                    rassure, on a assuré). Notre mission est de récolter vos avis (reviews) afin de mettre à
                    disposition de tous les fans d'anime un catalogue de choix. Vous cherchez un nouvel anime à
                    regarder ? Vous avez déjà tout vu ?Internet n'a plus de secret pour vous ? Vous ne voulez pas vous
                    lancer dans un anime alors que toute l'intrigue va s'écrouler à l'épisode 127 de la saison 3 ?
                    Et bien dans ce cas ce site est fait pour vous ! Nous sommes nous-même fans de mangas et d'animes,
                    et c'est pour cette raison que le projet ARS est né.</p>

                <p>J'espère que vous participerez et découvrirez plein de choses sur notre site ;)</p>

                <p>Si vous avez la moindre question, passez nous voir sur notre Discord, le lien est en fin de
                    page !</p>

            </div>
        </div>
    </div>
{% endblock %}
