{% extends 'front.base.html.twig' %}

{% block content %}
    <div class="faq__list">
        <div class="row">
            <div class="faq__title">
                <h2> FAQ </h2>
            </div>
            <button class="faq-list"> QUE PUIS-JE VOIR SUR ARS ?</button>
            <div class="faq-list-content">
                <p>Discrevimus Samosata est et clementer Osdroenam ab prima hac post amplis est Euphratensis
                    Samosata Samosata Samosata civitatibus est clementer hac.
                </p>
            </div>
            <button class="faq-list"> COMMENT CRÉER UN COMPTE ARS ?</button>
            <div class="faq-list-content">
                <p>Discrevimus Samosata est et clementer Osdroenam ab prima hac post amplis est Euphratensis
                    Samosata Samosata Samosata civitatibus est clementer hac.
                </p>
            </div>
            <button class="faq-list"> SUIS-JE OBLIGER DE CREER UN COMPTE POUR PARTICIPER ?</button>
            <div class="faq-list-content">
                <p>Discrevimus Samosata est et clementer Osdroenam ab prima hac post amplis est Euphratensis
                    Samosata Samosata Samosata civitatibus est clementer hac.
                </p>
            </div>
            <button class="faq-list"> COMMENT MODIFIER MES INFORMATIONS PERSONNELLES ?</button>
            <div class="faq-list-content">
                <p>Discrevimus Samosata est et clementer Osdroenam ab prima hac post amplis est Euphratensis
                    Samosata Samosata Samosata civitatibus est clementer hac.
                </p>
            </div>
            <button class="faq-list"> COMMENT RÉCUPÉRER MON IDENTIFIANT / MOT DE PASSE PERDU ?</button>
            <div class="faq-list-content">
                <p>Discrevimus Samosata est et clementer Osdroenam ab prima hac post amplis est Euphratensis
                    Samosata Samosata Samosata civitatibus est clementer hac.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
