{% extends 'front.base.html.twig' %}

{% block content %}
    <div class="ars__page">
        <div class="row">
            <div class="ars__title">
                <h2> Qui sommes-nous ? </h2>
            </div>
            <div class="ars__content">
                <p>Hae duae provinciae bello quondam piratico catervis mixtae praedonum a Servilio pro consule missae
                    sub iugum factae sunt vectigales. et hae quidem regiones velut in prominenti terrarum lingua positae
                    ob orbe eoo monte Amano disparantur.
                </p>
                <p>Cognitis enim pilatorum caesorumque funeribus nemo deinde ad has stationes appulit navem, sed ut
                    Scironis praerupta letalia declinantes litoribus Cypriis contigui navigabant, quae Isauriae scopulis
                    sunt controversa.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
