{% extends 'admin/dashboard.html.twig' %}

{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nom d'utilisateur</th>
            <th scope="col">Email</th>
            <th scope="col">Rôle</th>
            <th scope="col">Statut</th>
        </tr>
        </thead>
        <tbody>
        {% for u in user %}
            <tr>
                <th scope="row">{{ u.id }}</th>
                <td>{{ u.username }}</td>
                <td>####</td>
                <td>{{ u.roles.0 }}</td>
                <td>####</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}