@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    background: url("https://zupimages.net/up/19/15/6zmv.png") no-repeat fixed center;
}

main {
    min-height: 57vh;
}

#scroll_to_top {
    position: fixed;
    width: 45px;
    height: 45px;
    bottom: 15px;
    right: 15px;
    display: none;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 4px;
    z-index: 999;
    cursor: pointer;
    text-align: center;
    color: #fff;
}

#scroll_to_top svg {
    top: 15%;
    position: relative;
}

/** Override Bootstrap **/
.btn {
    position: relative;
    border: none;
    box-shadow: none;
    top: 0;
}

.btn:active {
    background: #0e79ad;
    border-color: #0e79ad;
}

.hidden {
    display: none;
}

.container {
    width: 1250px;
    right: 0;
    transition: all, 0.25s;
}

/* Btn styles */
.btn-outline-primary:focus {
    box-shadow: none !important;
}

.btn-primary.btn-darker-blue {
    background-color: #1194d3;
    border-color: #1194d3;
    border-bottom: 3px solid #006da0;
}

.btn-primary.btn-darker-blue:hover, .btn-primary.btn-darker-blue:active {
    background-color: #22C0D3;
    border-color: #22c0d3;
    border-bottom: 3px solid #006da0;
}

.btn-primary.btn-darker-blue:focus {
    background-color: #27a5ff !important;
    border-color: #27a5ff !important;
    border-bottom: 3px solid #006da0 !important;
    box-shadow: none !important;
}

.btn-outline-primary.btn-darker-outline-blue {
    color: #1194d3;
    border-color: #1194d3;
}

.btn-outline-primary.btn-darker-outline-blue:hover {
    border-color: #1194d3;
    background-color: #1194d3;
    color: #fff;
}

.btn-outline-primary.btn-darker-outline-blue:active {
    border-color: #17c4d3;
    background-color: #17c4d3;
    color: #fff;
}

.btn-success, .btn-success:focus, .btn-success:active {
    border-bottom: 3px solid #015201 !important;
    box-shadow: none !important;
}

.btn-danger {
    border-bottom: 3px solid #a20505 !important;
}

.btn-danger:active, .btn-danger:focus {
    box-shadow: none !important;
}

.img-circle {
    border-radius: 50%;
}

/* Top bar */
.anime__search_bar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 998;
    background: #fff;
    box-shadow: 0 0 7px 2px #000000a1;
    transition: all, 0.5s;
    padding: 25px;
    overflow: hidden;
}

.anime__search_bar input[type="text"] {
    padding: 6px 20px;
    border-radius: 4px;
    border: none;
    border: 1px solid #e2e2e2;
    width: 100%;
    font-size: 18px;
}

.anime__search_bar input[type="text"]:hover {
    background: #f1f1f1;
}

.anime__search_bar input[type="text"]:focus {
    border: 1px solid #e4e4e4;
    background: #f1f1f1;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
    outline: none !important;
}

.anime__search_bar .anime__search_bar input[type="text"]:hover {
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5);
}

.anime__search_bar .container .col-sm-4:last-child {
    text-align: right;
}

.anime__search_bar .container .col-sm-4:first-child {
    text-align: left;
}

.anime__search_bar.anime__search_bar .navbar__img {
    width: 140px;
    position: absolute;
    top: -50px;
    transform: rotate(-10deg);
    transition: all, 0.25s;
}

.rotate_off {
    transform: rotate(0deg) !important;
    width: 115px !important;
}

.menu__toggle {
    background: #419ae0;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    color: #fff;
    transition: all, 0.25s;
    opacity: 1;
    cursor: pointer;
    margin-left: 15px;
    z-index: 999;
}

.menu__hidden {
    background: transparent;
    color: transparent;
    box-shadow: none;
}

.menu__hidden:hover:after {
    -webkit-text-stroke: 3px #5454bb;
}

.menu__toggle:hover {
    background: #54c7fd;
}

.menu__toggle:active {
    background: #279cfd;
}

.menu__toggle:focus {
    outline: none;
}

.sidebar {
    font-family: 'Roboto', sans-serif;
    position: fixed;
    right: -325px;
    top: 0;
    bottom: 0;
    background: #fff;
    width: 325px;
    opacity: 0;
    transition: all, 0.25s;
    z-index: 999;
}

.sidebar__toggle {
    right: 0;
    opacity: 1;
}

.sidebar > .sidebar__img {
    text-align: center;
    width: 100%;
    margin-top: 20px;
}

.sidebar > .sidebar__img img {
    border-radius: 100px;
    width: 200px;
}

.sidebar > ul.sidebar__menu {
    margin: 20px 0;
    padding: 20px;
}

.sidebar .sidebar__child_menu {
    display: none;
}

.sidebar > ul.sidebar__menu > li.sidebar__item {
    list-style-type: none;
    padding: 15px 0;
    transition: all, 0.25s;
    border-radius: 4px;
    text-align: left;
    font-weight: 500;
}

.sidebar > ul.sidebar__menu > li.sidebar__item:hover {
    background: #a9d9ff;
}

.sidebar > ul.sidebar__menu > li.sidebar__item > a.sidebar__link {
    text-transform: uppercase;
    color: #2196F3;
    text-decoration: none;
    margin: 0 20px;
}

.sidebar > ul.sidebar__menu > li.sidebar__item .sidebar__item__space {
    width: 30px;
    position: relative;
    display: inline-block;
}

.social {
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    text-align: center;
}

.social > a.social__link {
    font-size: 42px;
    color: #fff;
}

.content_exemple {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.content_exemple > h1 {
    color: #222263
}

.content_exemple > span {
    font-style: italic;
}

/* Form */
.form_register__policies {
    margin-top: 25px;
}

.form_register__options ul {
    list-style-type: none;
    margin-left: -45px;
    margin-bottom: 0;
    margin-top: 15px;
}

/* Anime List */
.anime__card {
    margin-bottom: 25px;
    border: none;
    position: relative;
    bottom: 0;
    transition: all, 0.25s;
    height: 200px;
    overflow: hidden;
    box-shadow: 0px 5px 7px 0 rgba(0, 0, 0, 0.5);
    border: none !important;
}

.card_img__wrapper {
    height: 100px;
    overflow: hidden;
    position: relative;
    transition: all, 0.25s;
    z-index: 1;
}

.anime__card:hover .card_body {
    visibility: hidden;
}

.card_img_overlay {
    position: absolute;
    background: rgb(0, 0, 0);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
}

.card_img_overlay_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    color: #fff;
}

.anime__card:hover .card_img_overlay {
    background: rgba(0, 0, 0, 0.7);
    opacity: 1;
}

.anime__card:hover .card_img__wrapper {
    height: 400px;
}

.card_img__wrapper img {
    position: absolute;
    transition: all, 0.25s;
}

.anime__card:hover .card_img__wrapper img {
    transform: scale(1.5);
}

.card__title {
    margin: 10px 0;
}

.card_body {
    padding: 10px;
    transition: all, 0.2s;
    height: 95px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}

.card_body h3 {
    font-size: 21px;
}

.card_body h4 {
    font-size: 14px;
}

.release_date__label {
    text-decoration: underline;
    font-weight: 600;
}

.anime__link:hover {
    text-decoration: none;
}

.anime__link, .anime__link:hover {
    color: #355e7e;
}

.anime__list, .anime, .form_register, .form_login, .user {
    background: #ffffffc9;
    padding: 20px;
    border-radius: 4px;
}

.anime__list, .anime, .form_register, .form_login, .user {
    margin: 150px 0 60px 0;
}

.form_register__actions {
    text-align: center;
}

/* Anime Show */
.anime, .form_register, .form_login, .user, .ars__page, .gcu__page, .ln__page {
    padding: 20px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5);
}

.anime__title {
    text-align: center;
    position: relative;
}

.anime__content {
    position: relative;
    min-height: 180px;
}

.anime__card_target {
    position: absolute;
    top: -10px;
    right: 10px;
    background: #f73939;
    padding: 5px 10px;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
}

.anime__content_inner {
    position: relative;
    top: -50px;
    background: #fff;
    border-radius: 4px;
    padding: 0 20px;
    margin: 0 50px;
    box-shadow: 0px 3px 4px 0 rgba(0, 0, 0, 0.35);
}

.anime__tag {
    background: #c7c7c7;
    padding: 5px 10px;
    border-radius: 4px;
    margin: 2px;
    display: inline-block;
}

.anime__tag_icone {
    font-family: "Font Awesome 5 Free", serif;
    font-weight: 600;
    content: '\f067';
    font-size: 13px;
}

.anime__title__original {
    font-size: 34px;
}

.anime__title__translated {
    font-size: 21px;
}

.anime__actions {
    margin: 20px 0;
}

.anime__image__wrapper {
    overflow: hidden;
    text-align: center;
    height: 300px;
    position: relative;
    border-radius: 4px;
}

.anime__image__wrapper .btn-primary {
    position: absolute;
    z-index: 997;
    top: -20px;
    right: 5px;
    opacity: 0;
    transition: all, 0.25s;
}

.anime__image__wrapper:hover .btn-primary{
    opacity: 1;
    top: 5px;
}

.anime__resume, .anime__informations {
    margin: 30px 0;
    text-align: justify;
}

.anime__informations__tag .anime__tag {
    float: left;
}

.anime__resume {
    font-size: 18px;
}

.anime__resume h2 {
    text-decoration: underline;
    margin-bottom: 20px;
}

.anime__image {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.anime__overlay_embed {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #000000e8;
    z-index: 999;
    cursor: pointer;
}

.visible__overlay {
    display: block !important;
}

.anime__overlay_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.anime__notes {
    font-weight: 600;
    font-size: 18px;
}

.anime__comment a:hover {
    text-decoration: none;
}

.anime__comment_new, .anime__comment_show {
    background: #f1f1f1;
    padding: 20px;
    border-radius: 4px;
    margin: 10px 0;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 3px 4px 0 rgba(0, 0, 0, 0.35);
}

.anime__comment_show__author {
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
}

.anime__comment_show__author, .anime__comment_show_note {
    display: inline;
}

.anime__comment_show_note {
    position: absolute;
    right: -15px;
    transform: rotate(42deg);
    top: -15px;
    padding: 20px;
    background: #7a7688;
    color: #fff;
    font-weight: 700;
    padding-top: 30px;
    padding-bottom: 10px;
}

.anime__comment_show_note:before {
    content: "";
    width: 35px;
    height: 44px;
    background: #7a7688;
    position: absolute;
    left: -30px;
    top: 20px;
}

#review_note {
    visibility: hidden;
    margin-bottom: -90px;
}

.anime__comment_new label {
    visibility: hidden;
}

.anime__comment_show_note:after {
    content: "";
    width: 35px;
    height: 44px;
    background: #7a7688;
    position: absolute;
    right: -30px;
    top: 20px;
}

.anime__comment_show_note span {
    color: #d6d107;
}

.anime__comment_show__content {
    margin-left: 20px;
}

.anime__rating {
    font-size: 34px;
    text-align: center;
    cursor: pointer;
}

.ck.ck-toolbar {
    border-top-left-radius: 4px !important;
    border-top-right-radius: 4px !important;
}

.star__colored {
    color: yellow;
}

.overlay {
    background: rgba(0, 0, 0, 0.95);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: w-resize;
    z-index: 0;
    transition: all, 0.25s;
    display: none;
    z-index: 998;
}

/* Register & login forms */
.form_register__options .btn {
    width: 100%;
    margin: 10px 0;
}

.form_register .col-sm-4 {
    border-left: 1px solid #ccc;
}

/* User */
.user__informations {
    margin: 20px 0;
    font-weight: 500;
}

.user__informations span {
    display: block;
}

.user h1 {
    display: inline;
    font-weight: 700;
}

.user__informations_title {
    margin-bottom: 20px;
    position: relative;
}

.user .col-sm-6 {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.user__informations_bio {
    text-align: justify;
}

.user__actions {
    display: inline;
    position: absolute;
    right: 0;
    top: 10px;
}

/* Footer */
footer {
    padding: 20px 0;
    background: #fff;
    box-shadow: 0 0 7px 2px #000000a1;
    color: #355e7e;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 997;
}

.footer__title {
    font-weight: bold;
    text-align: center;
}

.footer.container.raw:last-child {
    border: none;
}

.col-sm-3 {
    border-right: 1px dashed #355e7e47;
    text-align: center;
}

.col-sm-3 p a {
    text-decoration: none;
}

.col-md-12 {
    text-align: center;
}

ul.social-network {
    padding: 0;
}

.social-network li {
    list-style-type: none;
    display: inline;
    margin: 5px;
    font-size: 32px;
    text-decoration: none;
}

.fa-discord {
    color: #7289DA;
}

.fa-github-alt {
    color: #14191E;
}

.fa-twitter {
    color: #1DA1F2;
}

.icon {
    transition: all, ease-in-out, 0.25s;
    background: transparent;
    color: grey;
}

.icon:hover {
    opacity: 0.7;
}

.container .row .col-sm-3:last-child {
    border-right: none;
}

.faq__list {
    margin: 150px 0;
    background: white;
    padding: 20px;
    border-radius: 4px;
}

.faq__title, .gcu__title, .ln__title, .ars__title {
    margin: 10px 0;
    text-align: center;
    color: #355e7e;
    width: 100%;
}

.faq-list {
    background: transparent;
    border: none;
    margin: 10px 15px 0;
    color: #355e7e;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    text-align: left;
    outline: none;
    transition: 0.4s;
    border-bottom: 1px solid #355e7e47;

}

.active__faq, .faq-list:hover {
    opacity: 4;
}

.faq-list-content {
    margin: 0 15px 15px;
    background: #a9dcff57;
    color: #1e1e1e;
    padding: 0 18px;
    width: 100%;
    text-align: left;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.faq-list-content p {
    margin: 5px 5px;
}

.faq-list:after {
    font-family: "Font Awesome 5 Free", serif;
    font-weight: 600;
    content: '\f067';
    font-size: 13px;
    color: #355e7e;
    float: right;
    margin-left: 5px;
}

.active__faq:after {
    font-family: "Font Awesome 5 Free", serif;
    font-weight: 600;
    content: "\f068";
}

.gcu__page, .ln__page, .ars__page {
    margin: 150px 0;
    background: white;
    padding: 20px;
    border-radius: 4px;
}

.gcu__content, .ln__content, .ars__content {
    margin: 10px 15px 15px;
    color: #355e7e;
    padding: 0 18px;
    width: 100%;
    text-align: justify;
}

.gcu__subtitle {
    text-align: center;
    font-style: italic;
}

.gcu__italic {
    font-style: italic;
    display: inline;
}

.gcu__content p a {
    text-decoration: none;
}

.anime__title__arrow__left {
    position: absolute;
    left: 10px;
    font-size: 21px;
    padding: 8px 17px 10px 17px;
    border-radius: 4px;
}

.anime__title__arrow__right {
    position: absolute;
    right: 10px;
    font-size: 21px;
    padding: 8px 17px 10px 17px;
    border-radius: 4px;
}

.anime__title__arrow__right:hover, .anime__title__arrow__left:hover {
    background: rgba(0, 187, 212, 0.5);
}

/* Badges */

.badge {
    margin: 10px;
}

.badge img {
    border-radius: 50px;
    width: 75px;
    height: 75px;
}

.contact__content {
    margin: 100px 20px 0;
    color: #355e7e;
    padding: 0 18px;
    width: 100%;
    text-align: center;
}

.contact__content form h1 {
    font-size: 18px;
    background: #acb4f4 none repeat scroll 0 0;
    color: rgb(255, 255, 255);
    padding: 22px 25px;
    border-radius: 5px 5px 0 0;
    margin: auto;
    text-shadow: none;
    text-align: center;
}

.contact__content form {
    border-radius: 5px;
    max-width: 700px;
    width: 100%;
    margin: 5% auto;
    background-color: #fff;
    overflow: hidden;
}

.contact__content p span {
    color: #F00;
}

.contact__content p {
    margin: 0;
    line-height: 2;
    color: #333;
    font-weight: 100;
    font-size: large;
}

.contact__content h1 {
    text-align: center;
    color: #666;
    text-shadow: 1px 1px 0 #FFF;
    margin: 50px 0 0 0
}

.contact__content input {
    border-radius: 5px;
    border: 1px solid #ced4da;
    margin-bottom: 10px;
    width: 100%;
    height: 40px;
    float: left;
    text-align: center;
    font-weight: 100;
    padding: 1em 3em;
}

.contact__content a {
    text-decoration: inherit
}

.contact__content textarea {
    border-radius: 5px;
    border: 1px solid #ced4da;
    margin: 0;
    width: 100%;
    height: 130px;
    float: left;
    text-align: center;
    font-weight: 100;
    padding: 1em 3em;

}

.contact__content .form-group {
    overflow: hidden;
    clear: both;
    margin: 5px 0;
}

.contact__content i {
    color: #555;
}

.contentform {
    padding: 15px 25px;
}

.bouton-contact {
    background-color: #6fd1f3;
    color: #FFF;
    text-align: center;
    width: 100%;
    border: 0;
    padding: 17px 25px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

.validation {
    display: none;
    margin: 0 0 10px;
    font-weight: 400;
    font-size: 13px;
    color: #DE5959;
}

legend.col-form-label.required{
    display: none;
}



