@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    background: #f7f7f7 !important;
    position: relative;
    right: 0;
    left: 0;
    transition: all, 0.25s;
}

.transition-fade {
    position: relative;
    transition: 0.2s;
    opacity: 1;
}

html.is-animating .transition-fade {
    opacity: 0;
}

main {
    min-height: 57vh;
    transition: all, 0.25s;
}

.sidebar__enabled {
    margin-right: 280px !important;
}

aside {
    position: relative;
}

.btn {
    border-radius: 2px;
}

#scroll_to_top {
    position: fixed;
    width: 45px;
    height: 45px;
    bottom: 15px;
    right: 15px;
    display: none;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 2px;
    z-index: 999;
    cursor: pointer;
    text-align: center;
    color: #fff;
}

#scroll_to_top svg {
    top: 15%;
    position: relative;
}

/** Override Bootstrap **/
.btn {
    position: relative;
    border: none;
    box-shadow: none;
    top: 0;
}

.btn.disabled {
    cursor: not-allowed;
}

.btn:active {
    background: #0e79ad;
    border-color: #0e79ad;
}

.hidden {
    display: none;
}

.container {
    width: 1600px !important;
    right: 0;
    transition: all, 0.25s;
}

.container.security__page {
    width: 1200px !important;
}

.security__page .logo_wrapper img {
    width: 250px;
    top: 100%;
}

@media (min-width: 1200px)
{
    .container {
        max-width: 1500px !important;
    }
}


/* Btn styles */

.btn-primary {
    color: #fff;
    background: #1194d3 !important;
    border-color: #1194d3 !important;
    border-radius: 2px !important;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.4);
}

.btn-primary:hover {
    background: #39bfff !important;
    border-color: #39bfff !important;
}

.btn-primary:focus {
    box-shadow: none !important;
    background: #0087c7 !important;
    border-color: #0087c7 !important;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.4) !important;
}

.btn-outline-primary:focus {
    box-shadow: none !important;
}

.btn-outline-primary {
    position: relative;
    z-index: 999;
    overflow: hidden;
}

.btn-outline-primary:hover {
    background: transparent !important;
}

.btn-primary.btn-darker-blue {
    background-color: #1194d3;
    border-color: #1194d3;
    height: 41px;
    padding-top: 8px;
}

.btn-primary.btn-darker-blue:focus {
    background-color: #27a5ff !important;
    border-color: #27a5ff !important;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.4);
}

.btn-outline-primary.btn-darker-outline-blue {
    color: #1194d3;
    border-color: #1194d3;
    background: transparent;
    border-radius: 2px;
    color: #fff;
}

.btn-outline-primary.btn-darker-outline-blue:hover {
    border-color: #1194d3;
    background-color: #1194d3;
    color: #fff;
    text-decoration: underline;
}

.btn-outline-primary.btn-darker-outline-blue:active {
    border-color: #17c4d3;
    background-color: #17c4d3;
    color: #fff;
}

.btn-success, .btn-success:focus, .btn-success:active {
    border-color: #28a745 !important;
    background: #28a745 !important;
    border-radius: 2px !important;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.4);
}

.btn-danger {
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.4);
    height: 41px;
    padding-top: 8px;
    transition: all, 0.25s;
}

.btn-danger:hover {
    background: #ff4949;
    border-color: #ff4949;
}

.btn-danger:active, .btn-danger:focus {
    box-shadow: none !important;
}

.img-circle {
    border-radius: 50%;
}

ul.pagination {
    align-items: center !important;
    justify-content: center !important;
}

.page-item.active .page-link {
    background-color: #1194d3 !important;
    color: #fff !important;
}

.page-link {
    border: 1px solid #d8d9da !important;
    border-bottom: 3px solid #d6d6d6 !important;
    color: #1194d3 !important;
}

.page-link:focus {
    box-shadow: none !important;
}

/* Top bar */
.anime__search_bar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 998;
    background: #355e7e;
    box-shadow: 0px 2px 2px 0 rgba(0, 0, 0, 0.20);
    transition: all, 0.25s;
    padding: 25px;
    right: 0;
}

.anime__search_bar__content {
    position: relative;
    transition: all, 0.25s;
}

.search_recommandation_wrapper {
    display: none;
    position: absolute;
    left: 40px;
    right: 0;
    top: 60px;
    background: #fff;
    height: 400px;
    border-radius: 2px;
    box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.20);
    overflow-y: scroll;
}

.search_recommandation:before {
    content: "\f0de";
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 70px;
    color: #fff;
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    font-size: 24px;
}

.search_recommandation {
    list-style-type: none;
    border-right: 2px;
}

.search_recommandation_wrapper::-webkit-scrollbar {
    width: 10px;
}

.search_recommandation_wrapper::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.search_recommandation_wrapper::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.search_recommandation li {
    margin-left: -40px;
    text-align: left;
    position: relative;
    height: 60px;
    right: 0;
}

.search_recommandation li.even {
    background: #f1f1f1;
}

.search_recommandation li.odd {
    background: #fff;
}

.search_recommandation li a {
    position: absolute;
    top: 4px;
    right: 4px;
    bottom: 2px;
    left: 4px;
    transition: all, 0.25s;
    font-weight: 600;
    text-transform: uppercase;
    color: #355e7e;
}

.search_recommandation li:hover {
    background: #ccc;
}

.search_recommandation li:hover a {
    text-decoration: none;
}

.search_recommandation li a span {
    margin-left: 10px;
}

.anime__search_bar form {
    display: inline-flex;
    flex-direction: row-reverse;
    height: 40px;
}

.anime__search_bar form button {
    margin-left: 10px;
    height: 41px;
}

.anime__search_bar input[type="text"] {
    padding: 6px 20px;
    border-radius: 2px;
    border: none;
    border: 1px solid #e2e2e2;
    width: 100%;
    font-size: 18px;
    font-weight: 600;
}


.anime__search_bar input[type="text"]:hover {
    background: #f1f1f1;
}

.anime__search_bar input[type="text"]:focus {
    border: 1px solid #e4e4e4;
    background: #f1f1f1;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
    outline: none !important;
}

.anime__search_bar .anime__search_bar input[type="text"]:hover {
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5);
}

.anime__search_bar .container-fluid .col-sm-4:last-child {
    text-align: right;
}

.anime__search_bar .container-fluid .col-sm-4:first-child {
    text-align: left;
}

.anime__search_bar .search_bar__wrapper {
    width: 100%;
    text-align: center;
    position: relative;
}

.anime__search_bar.anime__search_bar .navbar__img {
    width: 125px;
    position: absolute;
    top: -45px;
    transition: all, 0.25s;
    visibility: visible;
}

.reduce_logo {
    width: 100px !important;
    top: -30px !important;
}

.menu__toggle {
    background: transparent;
    border: none;
    padding: 10px 15px;
    border-radius: 2px;
    color: #fff;
    transition: all, 0.25s;
    opacity: 1;
    cursor: pointer;
    margin-left: 15px;
    z-index: 999;
}

.menu__hidden {
    background: transparent;
    color: transparent;
    box-shadow: none;
}

.menu__hidden:hover:after {
    -webkit-text-stroke: 3px #5454bb;
}

.menu__toggle:focus {
    outline: none;
}

.sidebar {
    font-family: 'Roboto', sans-serif;
    position: fixed;
    right: -285px;
    top: 0;
    bottom: 0;
    background: #fff;
    width: 285px;
    opacity: 0;
    transition: all, 0.25s;
    z-index: 999;
}

.sidebar:before {
    content: "";
    position: fixed;
    top: 0;
    bottom: 0;
    width: 3px;
    background: linear-gradient(to bottom, #355e7e, #1194d3);
}

.sidebar__toggle {
    right: 0;
    opacity: 1;
    box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.75);
}

.sidebar > .sidebar__img {
    text-align: center ;
    width: 100%;
    margin-top: 20px;
}

.sidebar > .sidebar__img img {
    border-radius: 2px;
    width: 200px;
}

.sidebar > ul.sidebar__menu {
    margin: 20px 0;
    padding: 20px;
}

.sidebar .sidebar__child_menu {
    display: none;
}

.sidebar > ul.sidebar__menu > li.sidebar__item {
    list-style-type: none;
    transition: all, 0.25s;
    border-radius: 2px;
    text-align: left;
    font-weight: 500;
    list-style-type: none;
    transition: all, 0.25s;
    border-radius: 2px;
    text-align: left;
    font-weight: 500;
    width: 100%;
    position: relative;
    height: 40px;
    line-height: 2.5em;
    margin-bottom: 2px;
}

.sidebar > ul.sidebar__menu > li.sidebar__item:hover {
    background: #355e7e;
}

.sidebar > ul.sidebar__menu > li.sidebar__item > a.sidebar__link {
    text-transform: uppercase;
    color: #355e7e;
    text-decoration: none;
    margin: 0 20px;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0 20px;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.sidebar > ul.sidebar__menu > li.sidebar__item:hover > a.sidebar__link {
    color: #fff;
}

.sidebar > ul.sidebar__menu > li.sidebar__item .sidebar__item__space {
    width: 30px;
    position: relative;
    display: inline-block;
}

.social {
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    text-align: center;
}

.social > a.social__link {
    font-size: 42px;
    color: #fff;
}

.content_exemple {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.content_exemple > h1 {
    color: #222263
}

.content_exemple > span {
    font-style: italic;
}

/* Form */
.form_register__policies {
    margin-top: 25px;
}

.form_register__options ul {
    list-style-type: none;
    margin-left: -45px;
    margin-bottom: 0;
    margin-top: 15px;
}

/* Anime List */

.anime__card {
    margin-bottom: 25px;
    border: none;
    position: relative;
    bottom: 0;
    transition: all, 0.25s;
    height: 200px;
    overflow: hidden;
    border-radius: 2px !important;
    box-shadow: 0px 2px 3px 0 #00000054;
    border: none !important;
    background: transparent;
}

.anime__card:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to right, #355e7e, #1194d3);
    height: 3px;
    opacity: 0;
}

.anime__card:hover:after {
    opacity: 1;
}

.card_img__wrapper {
    height: 100px;
    overflow: hidden;
    position: relative;
    transition: all, 0.25s;
    z-index: 1;
}

.card_img_overlay {
    position: absolute;
    background: rgb(0, 0, 0);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
}

.card_img_overlay_content {
    position: absolute;
    top: 25%;
    left: 17%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    color: #fff;
}

.anime__card:hover .card_img_overlay {
    background: rgba(0, 0, 0, 0.7);
    opacity: 1;
}

.card_img__wrapper img {
    position: absolute;
    transition: all, 0.25s;
}

.anime__card:hover .card_img__wrapper img {
    transform: scale(1.2);
}

.card__title {
    margin: 10px 0;
}

.card_body {
    padding: 10px;
    transition: all, 0.2s;
    height: 95px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}

.card_body h3 {
    font-size: 21px;
}

.card_body h4 {
    font-size: 14px;
}

.release_date__label {
    text-decoration: underline;
    font-weight: 600;
}

.anime__link:hover {
    text-decoration: none;
}

.anime__link, .anime__link:hover {
    color: #355e7e;
}

.anime__list, .anime, .form_register, .form_login, .user {
    padding: 20px;
    border-radius: 2px;
}

.user {
    background: transparent !important;
    box-shadow: none !important;
}

.anime__list {
    margin-top: 110px;
    transition: all, 0.25s;
}

.form_login, .user {
    margin-top: 110px;
    margin-bottom: 20px;
}

.page-load-status {
    width: 100%;
}

.infinite-scroll-request {
    text-align: center;
    width: 100%;
}

.loader {
    width: 100px;
}

.form_register {
    position: relative;
    z-index: 999;
    margin-top: 250px;
}


.form_register__actions, .form_login {
    text-align: center;
}

.logo_wrapper {
    position: relative;
    height: 50px;
}

.logo_wrapper img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
}

.form_login {
    margin: 250px;
    z-index: 999;
    position: relative;
}

.form_login a.back__button {
    font-weight: 500;
    color: #0e79ad;
}

.form_login form {
    margin-top: 30px;
}

.form_register .row:first-child {
    margin-top: 30px;
}

/* Anime Show */
.anime, .form_register, .form_login, .user, .ars__page, .gcu__page, .ln__page {
    padding: 20px;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.20);
}

.anime {
    background: none;
    position: relative;
    z-index: 2;
    top: 100px;
    box-shadow: none;
    margin-bottom: 110px;
}

.anime__banner {
    position: absolute;
    text-align: center;
    height: 350px;
    margin-top: 90px;
    overflow: hidden;
    left: 0;
    right: 0;
    z-index: 1;
    filter: brightness(50%);
}

.anime__banner__img {
    width: 100%;
}

.anime__title {
    text-align: center;
    position: relative;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    padding: 20px;
}

.anime__main {
    margin: 10px 0;
    background: #fff;
    border-radius: 2px;
    padding: 20px;
    box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.20);
}

.anime__content {
    position: relative;
    min-height: 180px;
}

.anime__card_target {
    position: absolute;
    top: -10px;
    right: 10px;
    background: #f73939;
    padding: 5px 10px;
    border-radius: 2px;
    color: #fff;
    font-weight: 600;
}

.anime__content_inner {
    position: relative;
    background: #fff;
    border-radius: 2px;
    padding: 0 20px;
}

.anime__tag {
    background: #c7c7c7;
    padding: 5px 10px;
    border-radius: 2px;
    margin: 2px;
    display: inline-block;
}

.anime__tag_icone {
    font-family: "Font Awesome 5 Free", serif;
    font-weight: 600;
    content: '\f067';
    font-size: 13px;
}

.anime__title__original {
    font-size: 34px;
}

.anime__title__translated {
    font-size: 21px;
}

.anime__image__wrapper {
    overflow: hidden;
    text-align: center;
    position: relative;
    border-radius: 2px;
}

.anime__image__wrapper .btn-primary {
    position: absolute;
    z-index: 997;
    top: -20px;
    right: 5px;
    opacity: 0;
    transition: all, 0.25s;
}

.anime__image__wrapper:hover .btn-primary{
    opacity: 1;
    top: 5px;
}

.anime__resume, .anime__informations {
    margin: 30px 0;
    text-align: justify;
}

.anime__informations__tag .anime__tag {
    float: left;
}

.anime__resume {
    font-size: 18px;
}

.anime__resume h2 {
    text-decoration: underline;
    margin-bottom: 20px;
}

.anime__image {
    width: 100%;
    left: 0;
    right: 0;
}

.anime__overlay_embed {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #000000e8;
    z-index: 999;
    cursor: pointer;
}

.visible__overlay {
    display: block !important;
}

.anime__overlay_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.anime__notes {
    font-weight: 600;
    font-size: 18px;
    margin: 20px 0;
    text-transform: uppercase;
}

.anime__comment a:hover {
    text-decoration: none;
}

.anime__comment_new, .anime__comment_show {
    background: #ffffff;
    padding: 20px;
    border-radius: 2px;
    margin: 10px 0;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.20);
}

.ck-editor {
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.20);
}

.ck.ck-editor__main>.ck-editor__editable {
    height: 150px;
    border: none;
}

.ck.ck-editor__main {
    outline: none;
}

.ck-focused {
    box-shadow: none !important;
    border: none !important;
}

.ck.ck-toolbar {
    border: none !important;
}

.anime__comment_show__author {
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
}

.anime__comment_show__author, .anime__comment_show_note {
    display: inline;
}

.anime__comment_show_note {
    position: absolute;
    right: -15px;
    transform: rotate(42deg);
    top: -15px;
    padding: 20px;
    background: #1194d3;
    color: #fff;
    font-weight: 700;
    padding-top: 30px;
    padding-bottom: 10px;
}

.anime__comment_show_note:before {
    content: "";
    width: 35px;
    height: 44px;
    background: #1194d3;
    position: absolute;
    left: -30px;
    top: 20px;
}

#review_note {
    visibility: hidden;
    margin-bottom: -90px;
}

.anime__comment_new label {
    visibility: hidden;
}

.anime__comment_show_note:after {
    content: "";
    width: 35px;
    height: 44px;
    background: #1194d3;
    position: absolute;
    right: -30px;
    top: 20px;
}

.anime__comment_show_note span {
    color: #d6d107;
}

.anime__comment_show__content {
    margin-left: 20px;
}

.anime__rating {
    font-size: 34px;
    text-align: center;
    cursor: pointer;
}

.anime__comment__thumbs {
     text-align: center;
    display: block;
 }

.anime__comment__thumbs a {
    font-size: 28px;
    font-weight: 700;
}

.anime__comment__thumbs_top {
    color: cornflowerblue;
    display: block;
}

.anime__comment__thumbs_down {
    color: darkred;
}

.anime__comment__rules__list {
    text-align: justify;
    display: block;
}

.anime__comment__rules__list li {
    margin-bottom: 10px;
}

.ck.ck-toolbar {
    border-top-left-radius: 2px !important;
    border-top-right-radius: 2px !important;
}

.star__colored {
    color: yellow;
}

.overlay {
    background: rgba(255, 255, 255, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: url("https://www.materialui.co/materialIcons/navigation/chevron_right_grey_192x192.png"), auto;
    z-index: 0;
    transition: all, 0.25s;
    display: none;
    z-index: 998;
}

/* Register & login forms */
.form_register__options .btn {
    width: 100%;
    margin: 10px 0;
}

.form_register .col-sm-4 {
    border-left: 1px solid #ccc;
}

/* User */
.user__informations {
    margin: 20px 0;
    font-weight: 500;
}

.user__informations span {
    display: block;
}

.user h1 {
    display: inline;
    font-weight: 700;
}

.user__informations_title {
    margin-bottom: 20px;
    position: relative;
}

.user .col-sm-6 {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.user__informations_bio {
    text-align: justify;
}

.user__actions {
    display: inline;
    position: absolute;
    right: 0;
    top: 10px;
}

/* Footer */
footer {
    padding: 20px 0;
    background: #355e7e;
    color: #ffffff;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 997;
    box-shadow: 0px -2px 2px 0 rgba(0, 0, 0, 0.20)
}

footer:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to right, #355e7e, #1194d3);
    height: 2px;
}

footer .container-fluid .col-sm-3 {
    text-align: center;
}

.footer__title {
    font-weight: bold;
    text-align: center;
}

.footer.container.raw:last-child {
    border: none;
}

.col-sm-3 p a {
    text-decoration: none;
}

.col-md-12 {
    text-align: center;
}

ul.social-network {
    padding: 0;
}

.social-network li {
    list-style-type: none;
    display: inline;
    margin: 5px;
    font-size: 32px;
    text-decoration: none;
}

.fa-discord {
    color: #7289DA;
}

.fa-github-alt {
    color: #14191E;
}

.fa-twitter {
    color: #1DA1F2;
}

.icon {
    transition: all, ease-in-out, 0.25s;
    background: transparent;
    color: grey;
}

.icon:hover {
    opacity: 0.7;
}

.container .row .col-sm-3:last-child {
    border-right: none;
}

.faq__list {
    margin: 150px 0;
    background: transparent;
    padding: 20px;
    border-radius: 2px;
}

.faq__title, .gcu__title, .ln__title, .ars__title {
    margin: 10px 0;
    text-align: center;
    color: #355e7e;
    width: 100%;
}

.faq-list {
    background: transparent;
    border: none;
    margin: 10px 15px 0;
    color: #355e7e;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    text-align: left;
    outline: none;
    transition: 0.4s;
    border-bottom: 1px solid #355e7e47;

}

.active__faq, .faq-list:hover {
    opacity: 4;
}

.faq-list-content {
    margin: 0 15px 15px;
    background: #fff;
    color: #1e1e1e;
    padding: 0 18px;
    width: 100%;
    text-align: left;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.faq-list-content p {
    margin: 5px 5px;
}

.faq-list:after {
    font-family: "Font Awesome 5 Free", serif;
    font-weight: 600;
    content: '\f067';
    font-size: 13px;
    color: #355e7e;
    float: right;
    margin-left: 5px;
}

.active__faq:after {
    font-family: "Font Awesome 5 Free", serif;
    font-weight: 600;
    content: "\f068";
}

.gcu__page, .ln__page, .ars__page, .faq__list {
    margin-top: 95px;
    background: transparent;
    padding: 20px;
    border-radius: 2px;
    box-shadow: none;
}

.gcu__content, .ln__content, .ars__content {
    margin: 10px 15px 15px;
    color: #355e7e;
    padding: 0 18px;
    width: 100%;
    text-align: justify;
}

.gcu__subtitle {
    text-align: center;
    font-style: italic;
}

.gcu__italic {
    font-style: italic;
    display: inline;
}

.gcu__content p a {
    text-decoration: none;
}

.anime__title__arrow__left {
    position: absolute;
    left: 10px;
    font-size: 21px;
    padding: 8px 17px 10px 17px;
    border-radius: 2px;
}

.anime__title__arrow__right {
    position: absolute;
    right: 10px;
    font-size: 21px;
    padding: 8px 17px 10px 17px;
    border-radius: 2px;
}

.anime__title__arrow__right:hover, .anime__title__arrow__left:hover {
    background: rgba(0, 187, 212, 0.5);
}

/* Badges */

.badge {
    margin: 10px;
}

.badge img {
    border-radius: 50px;
    width: 75px;
    height: 75px;
}

.contact__content {
    margin: 100px 20px 0;
    color: #355e7e;
    padding: 0 18px;
    width: 100%;
    text-align: center;
}

.contact__content form h1 {
    font-size: 18px;
    background: #acb4f4 none repeat scroll 0 0;
    color: rgb(255, 255, 255);
    padding: 22px 25px;
    border-radius: 5px 5px 0 0;
    margin: auto;
    text-shadow: none;
    text-align: center;
}

.contact__content form {
    border-radius: 5px;
    max-width: 700px;
    width: 100%;
    margin: 5% auto;
    background-color: #fff;
    overflow: hidden;
}

.contact__content p span {
    color: #F00;
}

.contact__content p {
    margin: 0;
    line-height: 2;
    color: #333;
    font-weight: 100;
    font-size: large;
}

.contact__content h1 {
    text-align: center;
    color: #666;
    text-shadow: 1px 1px 0 #FFF;
    margin: 50px 0 0 0
}

.contact__content input {
    border-radius: 5px;
    border: 1px solid #ced4da;
    margin-bottom: 10px;
    width: 100%;
    height: 40px;
    float: left;
    text-align: center;
    font-weight: 100;
    padding: 1em 3em;
}

.contact__content a {
    text-decoration: inherit
}

.contact__content textarea {
    border-radius: 5px;
    border: 1px solid #ced4da;
    margin: 0;
    width: 100%;
    height: 130px;
    float: left;
    text-align: center;
    font-weight: 100;
    padding: 1em 3em;

}

.contact__content .form-group {
    overflow: hidden;
    clear: both;
    margin: 5px 0;
}

.contact__content i {
    color: #555;
}

.contentform {
    padding: 15px 25px;
}

.bouton-contact {
    background-color: #6fd1f3;
    color: #FFF;
    text-align: center;
    width: 100%;
    border: 0;
    padding: 17px 25px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

.validation {
    display: none;
    margin: 0 0 10px;
    font-weight: 400;
    font-size: 13px;
    color: #DE5959;
}

legend.col-form-label.required{
    display: none;
}

.page-item:first-child .page-link {
    border-bottom-left-radius: 2px !important;
    border-top-left-radius: 2px !important;
}

.page-item:last-child .page-link {
    border-bottom-right-radius: 2px !important;
    border-top-right-radius: 2px !important;
}

.page-link {
    border: none !important;
}



