<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="{{ asset('img/favicon.ico') }}" />
        <title>{% block title %}Anime Reviewers Society{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <script type="text/javascript" src="{{ asset('build/app.js') }}"></script>
        <script type="text/javascript" src="{{ asset('build/runtime.js') }}"></script>
        <script src="https://cdn.ckeditor.com/ckeditor5/12.1.0/classic/ckeditor.js"></script>
        <script>
            ClassicEditor
                .create( document.querySelector( '.ckeditor' ) )
                .catch( error => {
                    console.error( error );
                } );
        </script>
    </body>
</html>
