{% extends 'front.base.html.twig' %}

{% block content %}
    <div class="user">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-success" type="submit">Terminé</button>
        {{ form_end(form) }}
    </div>
{% endblock %}